* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 900px;
    margin: 50px auto;
}

button {
    border: 1px solid #fe7320;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}